h1 {
	color: darkgreen;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.2s;
  }
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }